<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Crossfilter</title>
<link rel="stylesheet" href="stylesheets/style.css" />

<script src="javascripts/crossfilter.v1.min.js"></script>
<script src="javascripts/d3.v3.min.js"></script>
<script src="javascripts/av-data.js"></script>
</head>

<body>

<h1>AirVantage Crossfilter</h1>

<h2>Multidimensional Filtering of received communications</h2>

<div id="charts">
  <div id="hour-chart" class="chart">
    <div class="title">Time of Day</div>
  </div>
  <div id="rssi-chart" class="chart">
    <div class="title">RSSI</div>
  </div>
  <div id="board-temp-chart" class="chart">
    <div class="title">Board Temperature</div>
  </div>
  <div id="date-chart" class="chart">
    <div class="title">Date</div>
  </div>
</div>

<aside id="totals"><span id="active">-</span> of <span id="total">-</span> communications selected.</aside>

<div id="lists">
  <div id="flight-list" class="list"></div>
</div>

<footer>
  <span style="float:right;">Make it!</span>
  Based on <a href="http://square.github.io/crossfilter">Crossfilter</a> example.
</footer>

</body>

<html>

